# editorconfig.org
# ij_ 开头的是 Intellij IDEA 独有的配置 https://www.jetbrains.com/help/idea/configuring-code-style.html#editorconfig

root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
# tab_width = 4 # defaults to indent_size
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

ij_continuation_indent_size = 8
ij_visual_guides = 80,100,120
ij_wrap_on_typing = false

[{*.js,*.jsx,*.ts,*.tsx,*.es,*.ms,*.swift,*.md,*.markdown}]
indent_size = 2
ij_continuation_indent_size = 4
