# editorconfig.org
# ij_ 开头的是 Intellij IDEA 独有的配置 https://www.jetbrains.com/help/idea/configuring-code-style.html#editorconfig

root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
# tab_width = 2 # defaults to indent_size
insert_final_newline = true
trim_trailing_whitespace = true

ij_continuation_indent_size = 4
ij_visual_guides = 80,120
ij_wrap_on_typing = false

# 配置文件以 2 个空格缩进
[*.{json,yml,yaml}]
indent_size = 2
ij_continuation_indent_size = 4

# Shell 脚本以 2 个空格缩进
[*.{sh,bash}]
indent_size = 2
ij_continuation_indent_size = 4

# 前端项目以 2 个空格缩进
[*.{js,jsx,ts,tsx,es,ms,css,less,sass,scss,vue}]
indent_size = 2
ij_continuation_indent_size = 4

# HTML 以 2 个空格缩进（主要用于前端项目）
[*.{html,htm}]
indent_size = 2
ij_continuation_indent_size = 4

# XML 以 4 个空格缩进（主要用于 Java 项目，与 Java 代码保持一致）
[*.xml]
indent_size = 4

# Java 以 4 个空格缩进
[*.{java,kt}]
indent_size = 4

# Python 以 4 个空格缩进
[*.py]
indent_size = 4

# Go 以 tab 缩进
[*.go]
indent_style = tab
indent_size = 4

# Makefile 以 tab 缩进
[Makefile]
indent_style = tab
indent_size = 4

# Markdown 文件不删除行尾空格，因为它们可能用于格式化文本（例如，两个空格表示换行）
[*.{md,markdown}]
indent_size = 2
trim_trailing_whitespace = false
