### macOS ###
.DS_Store
._*

### Windows ###
$RECYCLE.BIN/
Thumbs.db
[Dd]esktop.ini
*.lnk

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/*
!.vscode/
!.vscode/extensions.json
!.vscode/launch.json

### VIM ###
*.sw?

### CVS ###
.svn/

### Java ###
out/
*.class
*.jar
*.zip
*.tar.gz

### Maven ###
target/
pom.xml.*
release.properties
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### Node.js, npm, pnpm, yarn ###
node_modules/
npm*.log*
pnpm*.log*
yarn*.log*
.eslintcache
*.tsbuildinfo

### Deployment, Distribution, Cache, Temporary ###
dist/
dist-ssr/
coverage/
logs/
*.log

### Environment ###
.env
.env.*
!.env.example

### Others ###
TODOs.md

### Private Config ###
Users/USERNAME/.config/git/private*
!Users/USERNAME/.config/git/private_config.example
Users/USERNAME/.config/shellrc/private*
!Users/USERNAME/.config/shellrc/private.example.sh
