"*":
  "autoclose-html":
    makeNeverCloseSelfClosing: false
  core:
    openEmptyEditorOnStart: false
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontSize: 16
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "53fd9ef9-f628-4235-8535-c7c0a1ee661b"
  "linter-ui-default":
    useBusySignal: false
  "vim-mode-plus":
    notifiedCoffeeScriptNoLongerSupportedToExtendVMP: true
    useClipboardAsDefaultRegister: false
    useSmartcaseForFind: true
    useSmartcaseForSearch: true
    useSmartcaseForSearchCurrentWord: true
  welcome:
    showOnStartup: false
