[user]
    name = mingelz
    email = mingelz@gmail.com
[push]
    default = simple
[diff]
    tool = vimdiff
[difftool]
    prompt = false
    # 通过 :cquit 可以退出 diff 队列
    trustExitCode = true
[difftool "vimdiff"]
    # 默认的 diff.tool = vimdiff 会导致添加 -R (只读) 参数，所以需要专门指定一下 cmd
    cmd = "vimdiff $LOCAL $REMOTE"
[pager]
    # 从 git@2.16 开始 branch 使用 less 显示信息，不太习惯，改为传统方式
    branch = false
[alias]
    br = branch
    ci = commit
    cm = commit -m
    cl = clone
    co = checkout
    di = difftool
    # diff 最后一次提交的内容
    dl = "!f() { rev=${1-HEAD}; git difftool $rev^ $rev; }; f"
    mg = merge
    st = status
    # http://git-scm.com/docs/git-log
    #        图形    简短hash        相对时间        装饰ref    30条 显示格式: %h 短哈希, %ar 相对提交时间, %s 提交说明, %an 作者, %d 引用信息, %n 换行
    lg = log --graph --abbrev-commit --relative-date --decorate -n30 --pretty=format:'%C(red)%h%C(reset) - %C(cyan)(%ar)%C(reset) - %C(white)%s%C(reset) %C(dim white)- <%an>%C(reset) %C(auto)%d%C(reset)'
    # 在 lg 的基础上，列出所有 branchs/stash 的分支情况，并把条数放大到 500
    la = log --graph --abbrev-commit --relative-date --decorate -n500 --all --pretty=format:'%C(red)%h%C(reset) - %C(cyan)(%ar)%C(reset) - %C(white)%s%C(reset) %C(dim white)- <%an>%C(reset) %C(auto)%d%C(reset)'
