# 通过修改为国内镜像源提高国内访问速度
# * npmmirror 源：https://npmmirror.com/
# * 阿里云源：https://developer.aliyun.com/mirror/NPM
# * TUNA 源：https://mirrors.tuna.tsinghua.edu.cn/help/nodejs-release/
# * USTC 源：https://mirrors.ustc.edu.cn/help/npm.html

## 当涉及写操作时（如发 npm 包）registry 需要使用官方源
registry=https://registry.npmmirror.com
